.gallery-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 15px;
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.editor {
	display: none;
}
