/* <img src="images/IMG_4828.jpeg" alt=""> */
/* <div class="myImg"></s/div> */

.about {
	gap: 2rem;
	padding: 2rem;
	align-items: center;
}

.about .myImg {
	width: 250px;
	height: 250px;
	background-color: red;
	background-image: url("../images/IMG_4828.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 100%;
	flex-shrink: no-shrink;
}

.social-links {
	margin-top: 1rem;
	display: flex;
	gap: 0.5rem;
}

.social-links img {
	width: 1.5rem;
	height: 1.5rem;
}

.social-links a {
	text-decoration: none;
	background-color: var(--clr1);
	padding: 0.25rem;
	border-radius: 10px;
	display: inline-flex;
	cursor: pointer;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.about {
		flex-direction: column;
	}
}
