:root {
	--clr1: #ff7f00;
	--clr2: #fff;
	--clr3: #8a8a8a;
	--clr4: #040a2c;
	--clr5: #e3e3e3;
}

* {
	box-sizing: border-box;
	margin: 0;
}

html {
	font-family: Montserrat;
	font-weight: normal;
	font-size: 1.5rem;
}

main {
	flex-grow: 1;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
