header {
	background-color: var(--clr1);
}

header .container {
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo {
	margin-left: 2rem;
}

header nav {
	display: flex;
	justify-content: space-between;
	margin-right: 2rem;
}

header nav a {
	display: flex;
	align-items: center;
	color: var(--clr2);
	text-decoration: none;
	padding: 1rem;
}

header nav a:hover {
	height: 4rem;
	color: var(--clr4);
	text-decoration: none;
	box-shadow: inset 0px -4px 0;
	cursor: pointer;
}

.Seperator {
	display: flex;
	align-self: center;
	width: 0.5px;
	height: 1.5rem;
	margin: 0px 4.8px 6.8px 4.5px;
	background-color: var(--clr3);
}
