header {
	background-color: var(--clr1);
}

header .container {
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn-menu {
	display: none;
}

header .logo {
	margin-left: 2rem;
}

header nav {
	display: flex;
	justify-content: space-between;
	margin-right: 2rem;
	height: 100%;
}

.main-screen {
	position: fixed;
	inset: 0;
	background-color: rgb(0 0 0 / 30%);
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: opacity .6s;
}

header nav a {
	display: flex;
	align-items: center;
	color: var(--clr2);
	text-decoration: none;
	padding: 1rem;
}

header nav a:hover {
	color: var(--clr4);
	text-decoration: none;
	box-shadow: inset 0px -4px 0;
	cursor: pointer;
}

.Seperator {
	display: flex;
	align-self: center;
	width: 0.5px;
	height: 1.5rem;
	margin: 0px 4.8px 6.8px 4.5px;
	background-color: var(--clr3);
}

.btn-menu {
	background-color: transparent;
	border: none;
	font-size: 2rem;
	cursor: pointer;
	color: var(--clr2);
}

@media screen and (max-width: 576px) {
	.logo {
		width: 6rem;
		height: 1rem;
	}

	.btn-menu {
		display: flex;
	}

	header nav {
		margin-right: 0;
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		flex-direction: column;
		background-color: rgb(255 255 255 / 90%);
		height: 100vh;
		min-width: 220px;
		/* border-left: solid 1px var(--clr6); */
		transform: translateX(100%);
		transition: transform .6s, box-shadow .6s;
	}

	header nav .Seperator {
		display: none;
	}

	header nav a {
		color: initial;
		border-bottom: 1px solid grey;
	}

	header nav a:hover {
		box-shadow: none;
	}

	.menu-open header nav {
		transform: none;
	}

	.menu-open .main-screen {
		opacity: 1;
		pointer-events: auto;
	}
}
