#canvas {
	max-width: 100%;
}

.main-content .gallery {
	background-color: var(--clr5);
	padding-left: 2rem;
	padding-right: 2rem;
}

.gallery-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 15px;
}

.actions button img,
.actions label img {
	width: 1rem;
	height: 1rem;
}

.actions button {
	padding: 0.5rem;
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main-content .editor {
	display: flex;
	padding: 0 1rem;
}

.main-content .editor > * {
	width: 50%;
}

.main-content .canvas-container {
	display: flex;
}

.main-content .actions .container {
	display: flex;
	flex-direction: column;
	height: 20rem;
	width: 20rem;
}

.myImg img {
	max-width: 100%;
	border-radius: 50%;
}

.actions {
	text-align: center;
	margin: 0 auto;
}

@media screen and (max-width: 576px) {
	.gallery-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(9, 1fr);
		grid-gap: 10px;
	}

	.canvas-container canvas {
		width: 300px;
		height: 300px;
		margin: 0 auto;
	}

	.main-content .editor > * {
		width: 100%;
	}

	.editor {
		flex-direction: column;
	}
}
