/* .main-content .serch-meme {
	background-color: var(--clr2);
	height: 2rem;
} */

.main-content .gallery {
	background-color: var(--clr5);
	padding-left: 2rem;
	padding-right: 2rem;
}

.gallery-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 15px;
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main-content .editor {
	display: flex;
}

.main-content .canvas-container {
	display: flex;
}

.main-content .actions .container {
	display: flex;
	flex-direction: column;
}

.main-content .actions {
	height: 20rem;
	width: 20rem;
}
