#canvas {
	max-width: 100%;
}

.main-content .gallery {
	background-color: var(--clr5);
	padding-left: 2rem;
	padding-right: 2rem;
}

.gallery-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 15px;
}

.share-container {
	display: none;
}

.actions .input-txt {
	padding: 0.5rem;
	border-radius: 20px;
	font-size: 1rem;
	margin-bottom: 1rem;
	border: none;
	width: 100%;
}

.actions button img,
.actions label img {
	width: 1.2rem;
	height: 1.2rem;
}

.actions button {
	cursor: pointer;
	background-color: white;
	border: none;
	border-radius: 10px;
	padding: 0.5rem;
}

.actions .group1,
.actions .group2,
.actions .group3 {
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

.actions .group3 select {
	/* padding: 0.5rem; */
	cursor: pointer;
	font-size: 1rem;
	border-radius: 20px;
}

.editor .container {
	display: flex;
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.group4 a,
.group4 button {
	padding: 0.5rem 1rem;
	text-decoration: none;
	color: var(--clr2);
	background-color: var(--clr1);
	border-radius: 10px;
	font-size: 1rem;
	font-weight: bold;
	font-family: inherit;
}

.main-content .editor {
	display: flex;
	justify-content: space-around;
	padding: 0 1rem;
	gap: 1rem;
	max-width: 980px;
	margin: 0 auto;
}

.main-content .canvas-container {
	display: flex;
}

.font-family {
	flex-grow: 1;
	padding: 0 0.5rem;
}

.main-content .actions .container {
	display: flex;
	flex-direction: column;
	height: 20rem;
	width: 20rem;
}

.myImg img {
	max-width: 100%;
	border-radius: 50%;
}

.actions {
	text-align: center;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.gallery-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(9, 1fr);
		grid-gap: 10px;
	}

	.canvas-container canvas {
		width: 300px;
		height: 300px;
		margin: 0 auto;
	}

	.main-content .editor > * {
		width: 100%;
	}

	.editor {
		flex-direction: column;
	}
}
